# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
.next/
out/
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/migrations/

# Database
*.db
